@media screen and (min-width: 1360px) {
  
    .container {
      max-width: 1360px;
     
  }

  .hero-main{
    padding-top: 142px;
  text-align: center;
    height: 768px;
  background-color: #333333;
  background-image:
    url(../images/hero/rectangle.jpg);
  color: var(--text-color-hero);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 0px;
   }

   .hero-title{
    margin-top: 209px;
}
/* ---blog-- */
.background{
  width: 50%;
}
}