/**
  |============================
  | Components
  |============================
*/

.section {
  padding: 80px 0;
}

.secondary-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  text-align: center;
  text-transform: capitalize;

  margin-bottom: 24px;
}

.button {
  padding: 10px 35px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

/**
  |============================
  | Hero Section
  |============================
*/
.hero-main {
  padding-top: 208px;
  padding-bottom: 284px;

  font-size: 22px;
  line-height: 1.67;
  text-align: center;

  background-color: #333333;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero/rectangle.jpg);
  color: var(--text-color-hero);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 0px;
}

.hero-title {
  margin-bottom: 25px;

  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
}

.hero-subtitle {
  margin-bottom: 29px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
}

.hero-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 165px;
  height: 48px;

  font-family: inherit;
  text-align: center;
  color: var(--bg-main);
  background-color: var(--green-theme);
  border-radius: 5px;
}

/* .hero-button::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  padding-top: 16px;
  background-repeat: no-repeat;

  width: 9px;
  height: 12px;
  background-image: url(../images/hero/Vector.svg);

  
} */

/**
  |============================
  | Testimonials 
  |============================
*/


/**
  |============================
  | Solution section_pidvys
  |============================
*/

.solution-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.solution-title-text {
  padding-top: 84px;
  padding-right: 44px;
  padding-bottom: 84px;
  padding-left: 30px;
  background-color: var(--green-theme);
}

.solution-subtitle-text {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 5px;
}

.solution-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 26px;
}

.solution-text {
  margin-bottom: 17px;
}

.solution-button {
  width: 167px;
  height: 50px;
  border: 1px solid var(--bg-main);
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-main);
  background-color: var(--green-theme);
  cursor: pointer;
}

/**
  |============================
  | business cases/ Ann
  |============================
*/

.business-section {
  color: var(--text-color-light-theme);
}
.business-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 7px;
  flex-basis: calc((100% - 3 * 8px) / 4);
  margin-top: 40px;
}
/**
  |============================
  | Blog Post One/Yuliia 
  |============================
*/
.section-blog {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}
.background {
  background: var(--bg-blue);
  border-radius: 0px;
  color: var(--text-color-main);
  padding: 80px 56px 80px 28px;
}
.style-font {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 8px;
}
.style {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 24px;
}
.blog-text {
  margin-bottom: 24px;
}
.button-style {
  line-height: 1.87;
  width: 196px;
  height: 50px;
  color: var(--bg-main);
  background: var(--bg-blue);
  border-radius: 5px;
  border: 1px solid var(--bg-main);
  cursor: pointer;
}
/**
  |============================
  | Team section / Mykyta
  |============================
*/

.team-section {
  outline: 2px solid tomato;
  color: var(--text-color-light-theme);
}

.team-container {
  text-align: center;
}

.sup-title {
  margin-bottom: var(--row-gap);
  font-size: 20px;
  line-height: 1.65;
}

.team-section-desc {
  margin-bottom: var(--row-gap);
}

.team-list {
  display: flex;
  justify-content: center;
  gap: var(--column-gap);
}

.team-item {
  width: calc((100% - 40px) / 3);
}

.team-desc-thumb {
  padding-top: 20px;
}

.team-name {
  font-weight: 400;
  margin-bottom: 12px;
}

.team-img-thumb {
  position: relative;
  overflow: hidden;
}

.team-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(-100%);
  transition: transform 250ms ease;
}

.team-img-thumb:hover .team-img-overlay {
  transform: translateY(0);
}

.team-social-list {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.team-social-img {
  fill: var(--text-color-main);
  transition: fill 250ms ease;
}

.team-social-link:hover .team-social-img {
  fill: var(--green-theme);
}

/**
  |============================
  | section request
  |============================
*/
.request-list {
  display: flex;
  flex-wrap: wrap;
}
.request-list-item {
  width: calc(100% / 2);
}

.request-list-item:nth-child(2) {
  padding: 80px 28px 80px 20px;
}

.request-list-item .title {
  width: 305px;
  height: 48px;
  margin-bottom: 32px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  color: #333333;
}
.form-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  row-gap: 32px;
  width: 642px;
}
.button {
  width: 100%;
  background-color: var(--green-theme);
  color: var(--text-color-main);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  background-color: var(--text-color-light-theme);
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 20px;
  padding-left: 0px;
  margin-top: 0px;
}
.footer-text {
  color: var(--bg-main);
  text-align: center;
  padding-bottom: 20px;
}
