@media screen and (min-width:768px) {
    .container{
        max-width: 768px;
    }
    .container-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* __logo__ */
    .logo{
        font-size: 35px;
        line-height:1.21;
    }
    /* --nav-- */
    .nav-list{
        gap: 19px;
    }
    /**
      |============================
      | hero
      |============================
    */
    .hero-main{
        padding-top: 142px;
      text-align: center;
        height: 1024px;
      background-color: #333333;
      background-image:
        url(../images/hero/bg-tablet.jpg);
      color: var(--text-color-hero);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    
      border-radius: 0px;
       }
       
    .hero-title{
        margin-top: 351px;
        margin-bottom: 25px;
        font-size: 55px;
    }

    /**
      |============================
      | .testimonials
      |============================
    */
    .testimonials-section{
        padding-top: 40px;
        padding-bottom: 47px;
    }
    .testimonials-title{
        font-size: 20px;
    }
    /**
      |============================
      | solution
      |============================
    */
    .solution-container{
        display: flex;
    }
    .solution-title-text{
        padding-top: 30px;
        padding-bottom: 30px;
max-width: 50%;
    }

    /**
      |============================
      | business-section section
      |============================
    */
    .business-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .business-list>li{
        width: calc((100% - 24px) / 4);
    }
    /**
      |============================
      | team
      |============================
    */
    .team-list{
       flex-wrap: nowrap;
    }

    /**
      |============================
      | reqvest
      |============================
    */
    .request .container{
        display: flex;
    }
    
}