<section id="blog" class="section-blog container">
    <div class="background">
      <p class="style-font">April 16 2020</p>
      <h2 class="style">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit
        harum illum dolore explicabo ab dolores itaque rerum temporibus
        doloribus iste maiores deleniti?
      </p>
      <button class="button-style">Read Our Blog</button>
    </div>
    <div>
      <img
        class=""
        src="./images/blog post one/blog post.jpg"
        alt="diary, notebooks, tablet and cup of coffee on the table"
        width="670"
        height="460"
      />
    </div>
  </section>