<section id="blog" class="section-blog container">
    <div class="background">
      <p class="style-font">April 16 2020</p>
      <h2 class="style">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit
        harum illum dolore explicabo ab dolores itaque rerum temporibus
        doloribus iste maiores deleniti?
      </p>
      <button class="button-style">Read Our Blog</button>
    </div>
    <div>
      <picture>
        <source media="(min-width: 1360px)" srcset="../images/blog/blog-desk@1x.jpg">
        <source media="(min-width: 768px)" srcset="../images/blog/blog-tab@1x.jpg ">
        <img
        class="blog-img"
        src="../images/blog/blog-mob@1x.jpg"
        alt="diary, notebooks, tablet and cup of coffee on the table"
        height="100%"
      />
      </picture>
    </div>
  </section>