<section id="cases" class="business-section section">
    <div class="team-container container">
        <p class="sup-title">This is what we do</p>
        <h2 class="secondary-title">Business Cases</h2>

        <p class="team-section-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
            sapiente!
        </p>
        <ul class="business-list list">
            <li>
                <img src="./images/business/rectangle-1.jpg" alt="cases 1" width="320" height="214" />
            </li>
            <li>
                <img src="./images/business/rectangle-2.jpg" alt="cases 2" width="320" height="214" />
            </li>
            <li>
                <img src="./images/business/rectangle-3.jpg" alt="cases 3" width="320" height="214" />
            </li>
            <li>
                <img src="./images/business/rectangle-4.jpg" alt="cases 4" width="320" height="214" />
            </li>
            <li>
                <img src="./images/business/rectangle-5.jpg" alt="cases 5" width="320" height="213" />
            </li>
            <li>
                <img src="./images/business/rectangle-6.jpg" alt="cases 6" width="320" height="213" />
            </li>
            <li>
                <img src="./images/business/rectangle-7.jpg" alt="cases 7" width="320" height="214" />
            </li>
            <li>
                <img src="./images/business/rectangle-8.jpg" alt="cases 8" width="320" height="214" />
            </li>
        </ul>
    </div>
</section>