<section class="solutions-section">
    <div class="solution-container container">
      <div class="solution-img">
        <img
          src="./images/solution/img_solutions.jpg"
          alt="People"
          width="680"
        />
      </div>
      <div class="solution-title-text">
        <p class="solution-subtitle-text">What you are looking for</p>
        <h2 class="solution-title">We provide bespoke solutions</h2>
        <p class="solution-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <button class="solution-button button" type="button">
          Read More
        </button>
      </div>
    </div>
  </section>