<section class="solutions-section">
  <div class="solution-container container">
    <div class="solution-img">
      <picture />
      <source
        media="(min-width: 1360px)"
        srcset="./images/solution/img-solution_desk_680.jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/solution/img-solution_tab_384.jpg"
      />
      <img
        class="images-solut"
        src="./images/solution/img_solutions.jpg"
        alt="diary, notebooks, tablet and cup of coffee on the table"
        height="100%"
      />
      </picture>
    </div>
    <div class="solution-title-text">
      <p class="solution-subtitle-text">What you are looking for</p>
      <h2 class="solution-title">We provide bespoke solutions</h2>
      <p class="solution-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="solution-button button" type="button">Read More</button>
    </div>
  </div>
</section>
