<section id="about" class="testimonials-section">
  <!-- Container -->
  <div class="container">
    <!-- UL Testimonials -->
    <h2 hidden>Testimonials</h2>
    <ul class="testimonials-list list">
      <li class="testimonials-items">
        <div class="testimonials-div">
          <svg class="icons-item" width="35" height="35">
            <use href="./images/icon.svg#icon-university"></use>
          </svg>
        </div>
        <h3 class="testimonials-title">Investmant Banking</h3>
        <p class="testimonials-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="testimonials-items">
        <div class="testimonials-div">
          <svg class="icons-item" width="35" height="35">
            <use href="./images/icon.svg#icon-book"></use>
          </svg>
        </div>
        <h3 class="testimonials-title">Portfolio Manager</h3>
        <p class="testimonials-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="testimonials-items">
        <div class="testimonials-div">
          <svg class="icons-item" width="35" height="35">
            <use href="./images/icon.svg#icon-pen"></use>
          </svg>
        </div>
        <h3 class="testimonials-title">Tax &#38; Custudio</h3>
        <p class="testimonials-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
