@media screen and (max-width:767px) {
    
    .business-section{
      padding-top: 50px;
      padding-bottom: 46px;
      text-align: center;
    }
    .business-list{
      justify-content: center;;
    }
}
.business-section {
    color: var(--text-color-light-theme);
  }
  .business-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 7px;
    margin-top: 40px;
  }
  @media screen and (min-width:768px) {
    .solution-container{
        display: flex;
    }
    .solution-title-text{
        padding-top: 30px;
        padding-bottom: 30px;
max-width: 50%;
    }
      .business-section {
        padding-top: 46px;
        padding-bottom: 46px;
      }
  }