/**
  |============================
  | Hero Section
  |============================
*/
.hero-main {
    padding-top: 208px;
    padding-bottom: 284px;

    font-size: 22px;
    line-height: 1.67;
    text-align: center;

    background-color: #333333;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(../images/hero/rectangle.jpg);
    color: var(--text-color-hero);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 0px;
}

.hero-title {
    margin-bottom: 25px;

    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
}

.hero-subtitle {
    margin-bottom: 29px;

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.67;
    text-align: center;
}

.hero-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 165px;
    height: 48px;

    font-family: inherit;
    text-align: center;
    color: var(--bg-main);
    background-color: var(--green-theme);
    border-radius: 5px;
}