.testimonials-section {
  padding-top: 40px;
  padding-bottom: 19px;
}

.testimonials-list {
  display: flex;
  text-align: center;
  gap: 71px;
  padding: 0 38px;
}

.testimonials-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  margin-top: 15px;
  margin-bottom: 16px;

  color: var(--text-color-light-theme);
}

.testimonials-text {
  font-size: 18px;
  line-height: 1.56;

  min-width: 362px;

  color: var(--text-color-light-theme);
}

.testimonials-div {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: var(--green-theme);
  width: 67px;
  height: 67px;

  margin: 0 auto;
}

.testimonials-items {
  max-width: 362px;
}
.icons-item {
  fill: var(--text-color-main);
}
